# Created by .ignore support plugin (hsz.mobi)
node_modules
.idea
.gradle
*.iml
lib
es
.temp
genode
build
*.properties
oak/oak_taro_starter/lib/modules
*-lock.json
yarn.lock
*.log
*-debug.log
*-error.log
dist
dist_web
coverage
*.tgz
_src
.spring
.awcache
lib
es
esnext
browser
types/index.d.ts
